.low-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0.035em;
    text-decoration: none;
    color: var(--primary-color);     
}

.form-container {
    padding: 98px 0 73px 0;
}

.form-container-h2 {
    padding: 35px;        
}

form div .button {
    margin-bottom: 11px;
    margin-top: 38px;
}

.form {
    padding: 56px;
}

.form-h3 {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color:var(--primary-color);
    letter-spacing: 0.05em;
    padding: 14px;
}


.form-input {
    padding-top: 30px;
}


