.login-container .form-container {
    width: 100%;
}

.login-container .form-container {
    width: 466px;
    flex-direction: column;
    padding: 0 48px 31px 48px;
}

.login-container .form-data {
    width: 100%;
}

.login-container .form-container h2 {
    margin-bottom: 32px;
    text-align: center;
}

.login-container .errorAlert {
    margin-bottom: 12px;
    text-align: center;
    color: red;
    font-family: 'roboto';
}

.login-container .fildError {
    color: red;
    border-color: red;
}