/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background: #fafafa;      
    --backgrondGradient:background: rgb(178, 177, 121);
    --primarycolor: #28c01a;    /*Cor de 20% do site (Destaques)*/
    --secondarycolor: #20ffc77e;     /*Cor de 10% do site (Detalhes)*/
    --auxcolor: #000;             
    --lettercolor: #8f226b;       
    --form: #17181a;
    border: 1px solid #000;
}

/* default format */
/* div esquerda dados */

body {
    background: var(--backgroundGradient);
    background: linear-gradient(38deg,rgba(178, 177, 121, 1) 0%,rgba(220, 210, 200, 1) 44%,rgba(235, 235, 235, 1) 100%);
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: 35%;
}

/* cabeçaclho página */

.up-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bank-logo {
    display: block;
    margin: 5em 0 2.5em 0;
    max-width: 100%;
    width: auto;
}

.initial-tile {
    display: block;
    font-family:'Open Sans', sans-serif;
    font-size: 1.8em;
}

.slogan {
    margin-top: 1em;
    font-family:'Lato', sans-serif;
    font-size: 1.2em;
    color:var(--tertiarycolor);
}

/* corpo pagina */

.middle-div {
    
}

/* rodape pagina */

.low-div {
    width: 100%;
    display: block;
    flex-direction: column;
    margin-bottom: 0;
}

.button {
    display: flex;
    width: 80%;
    border-radius: 2em;
    justify-content: center;
    background-color: var(--secondarycolor);
    border: none;
    font-family:'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.20em;
    color:var(--primarycolor);
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: var(--tertiarycolor);
    color:var(--primarycolor);
}

.link {
    margin-top: 5%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: var(--lettercolor);
    margin-bottom: 10%;
}

.link a:link {
    color: var(--tertiarycolor);
}

.link a:hover {
    color: var(--secondarycolor);
}

.signin-link {
    float: left;
    padding-left: 6%;
   
}

.signup-link {
    justify-content: right;
    padding-right: 6%;
}

.code-breakers {
    position: fixed;
    width: 200px;
    height: 30px;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 1vw;
    color: var(--lettercolor);
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    cursor: default;
}

/* div direita imagem */

.main-image {
    display: block;
    background-image: url("./img/register-image.png");
    background-size: cover;
    width: 65%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.main-image p {
    display: block;
    position: fixed;
    width: 50%;
    flex-direction: row-reverse;
}

.slogan-upper {
    width: 40%;
    text-align: justify;
    margin: 38.5% 10% 10% 10%;
    font-family: 'helvetica', sans-serif;
    font-style: italic;
    font-size: 2vw;
    color: #000;
    /*box-shadow: #139bc9;
    text-shadow: 1px 1.2px #080808;*/
}

.slogan-down {
    text-align: right;
    margin: 45.5% 10% 0 10%;
    font-family: 'helvetica', sans-serif;
    font-style: italic;
    font-size: 1vw;
    color: #aaa9a9;
    /*text-shadow: 1px 1.2px #080808;*/
}

/* fim das configurações basicas */