.nav {
    display:flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 5em;
    align-items: center;
    gap: 1em;
    padding: 0 3em;
}

.nav img {
    width: 185px;
}

.nav ul{
    padding: 0;
    margin:0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    text-decoration: none;
}

