.transfer-container+.form-box {
    box-shadow: 0;
}

.transfer-div {
    display: flex;
    justify-content: center;
    margin-bottom: -70px;
}

.transfer-title {
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #fff;
    border-radius: 50px;
    width: 80%;
    height: 1.8em;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);  
}