.form-container {
    display: flex;
    justify-content: center;
    margin: 74px auto 15px auto;
    width: 35%;
}

.low-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--primary-color);
}

form div{
    position: relative;
    text-align: center;
}

form div .button{
    margin-bottom: 20px;
}

.form-container-h2{ 
    position: absolute;
    width: 365px;
    height: 56px;
    left: 570px;
    top: 65px;
    font-family:'arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 112%;
    color:var(--primary-color);
    letter-spacing: 0.05em;
}
