.form-container {
    display: flex;
    justify-content: center;
    margin: 74px auto 15px auto;
    width: 35%;
}

.low-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--primary-color);
}

form div{
    position: relative;
    text-align: center;
}

form div .button{
    margin-bottom: 20px;
}
