.password-container .form-box h3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 400;
}

.password-container .form-box {
    width: 556px;
}

.password-container .form-container {
    width: 71%;
}

.password-container h2 {
    text-align: center;
}

.password-container .form-data {
    width: 468px;
}

.password-container .errorAlert {
    margin-bottom: 12px;
    text-align: center;
    color: red;
    font-family: 'roboto';
}

.password-container .fildError {
    color: red;
    border-color: red;
}