.table-box table tr th.monthYearTransaction {
	text-align: center;
	height: 47px;
	color: white;
	background-color: #288484;
	font-weight: 500;
	font-size: 1.2rem;
}

.table-box th {
	/* color: gray; */
	color: (--primary-color-light);
	font-weight: 500;
	font-size: 1.1rem;
}

.table-box th,
td,
tr {
	text-align: left;
	padding: 5px;
}

.table-box table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Roboto', sans-serif;
}

.table-box {
	display: inline-flex;
	width: 100%;
}

.table-box td:nth-child(2) {
	color: teal;
}

.table-box td:last-child {
	text-align: end;
}

.table-box th:last-child {
	text-align: left;
}

.table-box table tbody tr:hover {
	background-color: white;
	cursor: pointer;
}