.button-box {
    width: fit-content;
    margin: 15px 21px 0 auto;
}

.form-container {
    background-color: white;
    border-radius: 12px;
    padding: 68px 0 20px 0;
    box-shadow: 6px 5px 6px gray;
}

.form-container-h2 {
    text-align: center;
    left: 0;
    top: 7px;
    width: 100%;
}