.form-box {
    background-color: white;
    border-radius: 12px;
    box-shadow: 6px 5px 6px gray;
    margin: 10px 100px;
}

.form-container-h2 {
    text-align: center;
    left: 0;
    top: 7px;
    width: 100%;
}